@model ASPMVC.Models.Root

<h1>Weather</h1>

<form method="get">
    <input type="text" name="city" placeholder="Enter a city" required />
    <button type="submit">Get Weather</button>
</form>





@if (Model != null && Model.list != null && Model.list.Any())
{
    <h2>@Model.city.name</h2>
    <p>Temperature: @Model.list[0].main.temp ºC</p>
    <p>Humidity: @Model.list[0].main.humidity %</p>
    <p>Sunrise: @Model.city.sunrise</p>
}
